.board {
  width:100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  gap: 20px;

  margin-top: 25px;

  align-items: start;
}
/* ===== BOARD TASK ===== */

.board-task {
  margin-bottom: 14px;

  padding: 18px;

  border-radius:18px;

  min-height:170px;

  cursor: grab;

  background: rgba(255,255,255,0.92);

  border: 1px solid rgba(255,255,255,0.4);

  transition:
    transform 0.2s ease,
    box-shadow 0.25s ease,
    border 0.25s ease;

  position: relative;

  overflow: hidden;

  display:flex;

  justify-content:space-between;
  flex-direction:column;
}

.board-task-top {
  margin-bottom: 14px;

  color:var (--primary-text-color);

  font-size:18px;

  font-weight:700;

  line-height: 1.4;
}

.board-task-bottom {
  display: flex;
  flex-wrap:wrap;

  align-items: center;
  justify-content: space-between;

  gap: 8px;
}

.board-task:hover {
  transform: translateY(-6px);

  box-shadow:
    0 18px 35px rgba(0,0,0,.12);

  border: 1px solid rgba(79,157,166,0.5);
}

.board-task:active {
  cursor: grabbing;
}

.column {
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);

  border-radius: 18px;

  padding:22px;

  min-height: 350px;

  border: 1px solid rgba(255,255,255,0.08);

  transition:
    transform .25s ease,
    box-shadow .25s ease,
    border .25s ease;
}

.column:hover {
  transform: translateY(-3px);
  box-shadow: 0 12px 24px rgba(0,0,0,.08);
}

.column h3 {
  display:flex;
  justify-content:space-between;

  align-items:center;
  margin-top: 0;
  margin-bottom: 24px;

  font-size: 22px;
}

.column-active {
  border: 1px solid rgba(79,157,166,0.7);

  box-shadow:
    0 0 25px rgba(79,157,166,0.25);

  transform: translateY(-4px) scale(1.01);
}

.count {
  opacity: 0.5;
  font-size: 14px;
  margin-left: 6px;
}

.empty-column {
  min-height:180px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 2px dashed rgba(255,255,255,0.15);

  border-radius: 18px;

  opacity: 0.5;

  font-size: 14px;

  transition:.25s;
}

.empty-column:hover{

    border-color:#4f9da6;

}

/* =========================
   RESPONSIVE
========================= */

@media (max-width:768px){

    .board{

        grid-template-columns:1fr;

        gap:16px;

    }

    .column{

        min-height:auto;

        padding:16px;

    }

    .board-task{

        margin-bottom:10px;

    }

    .board-task-bottom{

      margin-top:auto;

      flex-wrap:wrap;

      gap:10px;

    }

}