body.dark{
  background:linear-gradient(to bottom,#1e1e1e,#121212);
  color:#f1f1f1;
  transition:
        background .3s ease,
        color .3s ease;
}

body.dark .container{
  background:rgba(255,255,255,.05);
}

body.dark .task-card{
  background:rgba(255,255,255,.08);
  border-color:rgba(255,255,255,.08);
}

body.dark input,
body.dark select{
  background:rgba(255,255,255,.1);
  color:white;
  border:1px solid rgba(255,255,255,.08);
}

body.dark option{
  background:#2d2d2d;
  color:white;
}

body.dark button{
  background:var(--primary);
  color:var(--text);
}

body.dark .tag{
  background:#0f5c63;
}

body.dark .login-container{
  background:rgba(255,255,255,.05);
  border:1px solid rgba(255,255,255,.08);
}

body.dark input::placeholder{

    color:#bdbdbd;

}