.top-left {
  position: fixed;
  top: 20px;
  left: 20px;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background: #4f9da6;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.top-right {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 14px;
  border-radius: 12px;
  border: none;
  background: #4f9da6;
  color: white;
  cursor: pointer;
  z-index: 1000;
}

.top-left:hover,
.top-right:hover {
  transform: translateY(-2px);
  box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.topbar {
  width: 92%;
  max-width: 1200px;

  margin: 20px auto 0;
  margin-bottom: 30px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 16px 22px;

  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(12px);

  border-radius: 20px;

  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 14px;
}

.logo-circle {
  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;

  background: linear-gradient(135deg, #4f9da6, #0f5c63);
  color: white;
}

.topbar-left h3 {
  margin: 0;
}

.topbar-left p {
  margin: 0;
  opacity: 0.6;
  font-size: 13px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-box {
  display: flex;
  align-items: center;
  gap: 8px;

  background: rgba(255,255,255,0.08);

  padding: 10px 14px;
  border-radius: 12px;
}

.online-dot {
  width: 10px;
  height: 10px;

  border-radius: 50%;
  background: #32d74b;

  box-shadow: 0 0 10px #32d74b;
}

.dark-toggle {
  width: 42px;
  height: 42px;

  border-radius: 12px;
  padding: 0;
}

.logout-btn {
  background: #d9534f;
}

.logout-btn:hover {
  background: #c9302c;
}