body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(200deg, #D97D55, #F4E9D7);
  color: #35858E;
}

.container {
  max-width: 600px;
  margin: 60px auto;
  padding: 20px;
}

.task-card {
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: space-between;
  background: #F4E9D7;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
  cursor: grab;
  transition: 0.2s;
}

.task-card:active {
  cursor: grabbing;
  transform: scale(1.02);
}

.tag {
  font-size: 12px;
  background: #6FA4AF;
  padding: 4px 8px;
  border-radius: 6px;
  margin-left: 10px;
  color: white;
}

.input-group {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  background: #6FA4AF;
  cursor: pointer;
}

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  gap: 15px;

  width: 300px;
  text-align: center;
}

.login-box h2 {
  margin-bottom: 10px;
}

.login-box input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.login-box button {
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #6FA4AF;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.login-box button:hover {
  background: #5a8e98;
}